* {
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100px;
    & h1 {
        color: aliceblue;
        font-size: 30px;
        text-align: center;
    }
}

body {
    background-color: #2b2b2b;
    height: 100%;
}

.container01 {
    background-color: #575454;
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    & .container02 {
        display: flex;
        justify-content: center;
        & form {
            display: flex;
            flex-direction: column;
            width: 350px;
            & label {
                color: rgb(0, 2, 3);
                font-weight: 900;
                margin: 5px 0;
                font-size: 25px;
            }
            & input {
                margin: 10px 0;
                padding: 5px;
                height: 27px;
                border: none;
                border-radius: 7px;
            }
            & .terms {
                display: flex;
                align-items: center;
                margin-top: 10px;
                & #terms {
                    width: 20px;
                }
                & label {
                    margin-left: 15px;
                }
            }
            & .saveData {
                display: flex;
                align-items: center;
                margin-top: 10px;
                & #saveData {
                    width: 20px;
                }
                & label {
                    margin-left: 15px;
                }
            }
            & button {
                margin: 30px auto;
                width: 150px;
                height: 40px;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                border: none;
            }
            & button:hover {
                background-color: black;
                color: aliceblue;
                transition: all 0.5s ease-in-out;
                border-radius: 10px;
                transform: scale(1.1);
            }
        }
    }
}
